<h1>Ember Data @attr defaultValue Bug Reproduction</h1>

<p>Attribute Value: {{this.post.likes}}</p>
<p>Serialized Value: {{this.serialized.data.attributes.likes}}</p>

<p>
  Set Attribute Value:
  <Input @value={{this.manualValue}} />
  <button {{on 'click' this.setManualValue}}>Set</button>
</p>

<button {{on 'click' this.serialize}}>Re-serialize</button>

<button {{on 'click' this.reset}}>Reset</button>
